<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav-container">

	<nav class="nav-bar">

		<ul id="nav">

			<li id="title"><%= link_to "RAINFOREST", "/products/" %></li>

	      <% if current_user %>

	        <li id="signed-in"> Signed in as <%= current_user.name %>. </li>
	        <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
	      <% else %>

	        <li id="log-in"><%= link_to "Log in", new_session_path %> <%= link_to "Sign up", new_user_path %></li>
	      <% end %>

	   </ul>
	</nav>
</div>

<div id="content-container">

		<% if flash[:notice] %>
			<p id="notice"><%= flash[:notice] %></p>
		<% end %>

		<% if flash[:alert] %>
			<p id="alert"><%= flash[:alert] %></p>
		<% end %>

	<%= yield %>


</div>

</body>
</html>
